<%- include('../partials/header') %> 
<link rel="stylesheet" href="/stylesheets/style_temp.css" />

<div class="grid-container">
	<!-- Header -->
	<%- include("./adminHeader") %>
	<!-- End Header -->

	<!-- Sidebar -->
	<%- include("./adminSidebar") %>
	<!-- End Sidebar -->

	<!-- Main -->
	<main class="main-container">
		<div class="main-title">
			<h2 class="margin-top">DASHBOARD</h2>
		</div>
		<div class="box-container">
			<div class="row margin">
				<div onclick="window.open('/admin/departments','_self')" class="col-md-3 m-1 box dashboard-tile">
					<!-- <i class="fa-regular fa-building"></i> -->
					<h4 class="dashboard-tile-header">Departments</h4>
					<p>11</p>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3 m-1 box dashboard-tile">
					<!-- <i class="fa-regular fa-building"></i> -->
					<h4 class="dashboard-tile-header">Teachers</h4>
					<p>11</p>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3 m-1 box dashboard-tile">
					<!-- <i class="fa-regular fa-building"></i> -->
					<h4 class="dashboard-tile-header">Subjects</h4>
					<p>11</p>
				</div>
			</div>

			<div class="row margin">
				<div class="col-md-2"></div>
				<div class="col-md-3 m-1">
					<!-- <i class="fa-regular fa-building"></i> -->
					<h4 class="dashboard-tile-header">Students</h4>
					<p>11</p>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3 m-1 box dashboard-tile">
					<!-- <i class="fa-regular fa-building fa-xl"></i> -->
					<h4 class="dashboard-tile-header">Quizzes</h4>
					<p>11</p>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</main>
	<!-- End Main -->
</div>
<%- include('../partials/footer') -%>
<script>
	const allSideMenu = document.querySelectorAll(
		"#sidebar .side-menu.top li a"
	);

	allSideMenu.forEach((item) => {
		const li = item.parentElement;

		item.addEventListener("click", function () {
			allSideMenu.forEach((i) => {
				i.parentElement.classList.remove("active");
			});
			li.classList.add("active");
		});
	});
</script>
<script src="/scripts/addSubject.js"></script>
<script src="/scripts/adminSidebar.js"></script>
<%- include('../partials/sweetalert') %>
<%- include('../partials/footer2') -%>


