<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<link rel="stylesheet" href="/stylesheets/datatables.css" />
<div class="grid-container">
	<%- include("./adminHeader") %> <%- include("./adminSidebar") %>
	
	<div class="main-container">
		<div class="row ps-5 pe-5 align-items-center d-flex">
			<div class="col h1">
				Students
			</div>
			<div class="col text-end">
				<button
					style="border-radius: 900px; height: min-content"
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#studentModal"
					><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;ADD
					STUDENTS
				</button>
			</div>
			</div>
			<div class="row ps-5 pe-5 align-items-center d-flex">
			<div class="col-sm-4 mt-3">
				<label>Select Semester</label>
				<select
					class="form-control"
					name="semesterselect"
					id="semesterselect"
					onchange="filterDataTable()"
				>
					<option value="All" id="all">All</option>
					<% for( let index = 0; index < 8; index++ ) { %>
						<option vlaue="sem<%index+1%>"><%=index+1%></option>	
					<% } %>
				</select>
			</div>
			<div class="col-sm-4 mt-3">
				<label>Select Department</label>
				<select
					class="form-control"
					name="departmentselect"
					id="departmentselect"
					onchange="filterDataTable()"
				>
					<option value="All" id="all1">All</option>
					<%dept_data.forEach(element => { %>
						<option value="<%=element._id%>"><%=element.name%></option>
					<% }) %>
				</select>
			</div>
		</div>
		<div
                class="mb-3"
                id="tableDiv"
                style="overflow: hidden"
            ></div>
	</div>
</div>
<%- include("./addStudent") %> <%- include('../partials/footer') -%>
<script>
	$(document).ready(() => {

		$("#all").change();
		$("#all1").change();

		$(document).on("click", ".delete", (e) => {
      e.preventDefault();
      //   console.log($(this).data("fruit"));
      let id = e.currentTarget.getAttribute("data-id");

      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location = "/admin/students/delete/" + id;
          //   Swal.fire("Deleted!", "Your file has been deleted.", "success");
        }
      });
    });
	});
	function filterDataTable() {
		let semester = $("#semesterselect").val();
		let department=$("#departmentselect").val();
            $.ajax({
                type: "POST",
                url: "/admin/getStudent",
                data: { semester,department },
                success: function (response) {
                    if (response.length !== 0) {
                        students=response.studentData
                        // questions.forEach((ele)=>{console.log(ele.course_outcome_id)})
                        let def =
                            "<table class='uk-table uk-table-hover uk-table-striped text-center' id='datatable'><thead><th>Sr No.</th><th>Enrollment No.</th><th>Department</th><th>Semester</th><th>Email</th><th>Action</th></thead>";
                        let data = "";
                        let ind = 1;
                        students.forEach((ele) => {
                        
                               data += "<tr>";
                                data += `<td>${ind++}</td>`;
                                data += `<td>${ele.enrollment}</td>`;
                                data += `<td>${ele.department_id.name} </td>`;
                                data += `<td>${ele.semester}</td>`;
                                data += `<td>${ele.email}</td>`;
								data += `<td> <div><a href=""><i class="fa-solid fa-edit edit fa-lg"></i></a><a class="delete" data-id="${ele._id}"><i style="color: red" class="fa-solid fa-trash icon fa-lg"></i></a></div></td>`;
                                data += "</tr>";
                            
                        });

                        $("#tableDiv").html(def + data + "</table>");
                        var myTable;

                        myTable = $("#datatable").DataTable({
                            pagingType: "simple_numbers",
                            scrollCollapse: true,
                            
                            language: {
                                paginate: {
                                    previous: "<",
                                    next: ">",
                                },
                            },
                        });
                        // abc();
                        

                    }
                },
            });
	};
</script>

<%- include('../partials/sweetalert') %> <%- include('../partials/footer2') -%>
