<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<link rel="stylesheet" href="/stylesheets/datatables.css" />
<div class="grid-container">
	<%- include("./adminHeader") %> <%- include("./adminSidebar") %>

	<div class="main-container">
		<div class="row ps-5 pe-5">
			<div class="col-7">
				<h1 class="text-start">Students</h1>
			</div>
			<div class="col align-items-center d-flex">
				<a
					style="border-radius: 900px; height: min-content"
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#studentModal"
					><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;ADD
					STUDENTS
				</a>
			</div>
		</div>
		<table
			class="uk-table uk-table-hover uk-table-striped text-center"
			id="datatable"
		>
			<thead>
				<th>1</th>
				<th>1</th>
				<th>1</th>
			</thead>
		</table>
	</div>
</div>
<%- include("./addStudent") %> <%- include('../partials/footer') -%>
<script>
	$(document).ready(() => {
		console.log("hello");
		var myTable;

		myTable = $("#datatable").DataTable({
			pagingType: "simple_numbers",
			language: {
				paginate: {
					previous: "<",
					next: ">",
				},
			},
			columnDefs: [
				// Center align the header content of column 1
				{ className: "dt-head-center", targets: [0, 1] },
			],
		});
	});
</script>
<script src="/scripts/adminSidebar.js"></script>
<%- include('../partials/sweetalert') %> <%- include('../partials/footer2') -%>
