<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<link rel="stylesheet" href="/stylesheets/datatables.css" />
<div class="grid-container">
	<%- include("./adminHeader") %> <%- include("./adminSidebar") %>

	<div class="main-container">
		<div class="row ps-5 pe-5 align-items-center d-flex">
			<div class="col h1">
				Teachers
			</div>
			
			<div class="col  text-end">
				<button style="border-radius: 900px; height:min-content" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teacherModal"
					><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;ADD
					TEACHER
				</button>
			</div>
			</div>
			<div class="row ps-5 pe-5 align-items-center d-flex">
				<div class="col-sm-4  mt-3">
					<label>Select Department</label>
					<select
						class="form-control"
						name="departmentselect"
						id="departmentselect"
						onchange="filterDataTable()"
					>
						<option value="All" id="all1">All</option>
						<%dept_data.forEach(element => { %>
							<option value="<%=element._id%>"><%=element.name%></option>
						<% }) %>
					</select>
				</div>
				</div>
		
		<div
                class="mb-3"
                id="tableDiv"
                style="overflow: hidden"
            ></div>
	</div>
</div>
<%- include("./addTeacher") %> <%- include('../partials/footer') -%>
<script>
	$(document).ready(() => {
		$("#all1").change();
		
	});
	function filterDataTable() {
		
		let department=$("#departmentselect").val();
            $.ajax({
                type: "POST",
                url: "/admin/getTeacher",
                data: { department },
                success: function (response) {
                    if (response.length !== 0) {
                        teachers=response.teacherData
                        // questions.forEach((ele)=>{console.log(ele.course_outcome_id)})
                        let def =
                            "<table class='uk-table uk-table-hover uk-table-striped text-center' id='datatable'><thead><th>Sr No.</th><th>Username</th><th>First Name</th><th>Middle Name</th><th>Last Name</th><th>Department</th><th>Email</th></thead>";
                        let data = "";
                        let ind = 1;
                        teachers.forEach((ele) => {
                        
                               data += "<tr>";
                                data += `<td>${ind++}</td>`;
                                data += `<td>${ele.username}</td>`;

                                data += `<td>${ele.first_name}</td>`;
                                data += `<td>${ele.middle_name}</td>`;
                                data += `<td>${ele.last_name}</td>`;

                                data += `<td>${ele.department_id.name} </td>`;
                                
                                data += `<td>${ele.email}</td>`;
                                data += "</tr>";
                            
                        });

                        $("#tableDiv").html(def + data + "</table>");
                        var myTable;

                        myTable = $("#datatable").DataTable({
                            pagingType: "simple_numbers",
                            scrollCollapse: true,
                            
                            language: {
                                paginate: {
                                    previous: "<",
                                    next: ">",
                                },
                            },
                        });
                        // abc();
                        

                    }
                },
            });
	};
</script>

<script src="/scripts/addTeacher.js"></script>
 <%- include('../partials/footer2') -%>
