<%- include('../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<link rel="stylesheet" href="/stylesheets/datatables.css" />
<%- include('../partials/footer')-%>
<script>
    //evaa badha count je extra chhe
    let marks_questions = JSON.parse(`<%- JSON.stringify(marks_questions) %>`);
    console.log(marks_questions);

    //badhaa questions
    let allQuestions = JSON.parse(`<%- JSON.stringify(allQuestions) %>`);
    console.log(allQuestions);
</script>

<style>
    .add-read-more.show-less-content .second-section,
    .add-read-more.show-less-content .read-less {
        display: none;
    }

    .add-read-more.show-more-content .read-more {
        display: none;
    }

    .add-read-more .read-more,
    .add-read-more .read-less {
        font-weight: bold;
        margin-left: 2px;
        color: blue;
        cursor: pointer;
    }

    #datatable_wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="grid-container">
    <!-- Header -->
    <%- include("./teacherHeader") %>
    <!-- End Header -->

    <!-- Sidebar -->
    <%- include("./teacherSidebar") %>

    <div class="main-container">
        <div class="col h1">Select Mandatory Questions</div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <select id="marksSelect" class="form-control" onchange="generateDataTable()">
                            <option value="All" selected>All</option>
                            <% marks_questions.forEach(element => { %>
                                <option value="<%= element.marks %>"><%= element.marks %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div
                    class="mb-3"
                    id="tableDiv"
                    style="width: 100%; overflow-x: scroll"
                ></div>
            </div>
            <div class="col-4">
                <div class="row">
                    <!-- <div class="col-6">
                        <select
                            id="marksORco"
                            class="form-control"
                            onchange="renderCos(this.value)"
                        >
                            <option value="co" selected>CO</option>
                            <option value="marks">Marks</option>
                        </select>
                    </div> -->
                    <div class="col-6">
                        <button class="btn btn-primary rounded-pill" onclick="nextPage()">Next</button>
                    </div>
                </div>
                <div class="accordion mt-5" id="coDiv"></div>
            </div>
        </div>
    </div>
</div>
<%- include('./questionDetail')-%>
<script src="/scripts/addQuiz4.js"></script>
<%- include('../partials/footer2') -%>
