<%- include('../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<link rel="stylesheet" href="/stylesheets/datatables.css" />

<%- include('../partials/footer')-%>
<script>
	let subArray = JSON.parse('<%- JSON.stringify(subData) %>');
	console.log(subArray);
</script>
<style>
	#datatable_wrapper {
		margin: 0px;
	}
</style>
<script src="/scripts/addQuestion1.js"></script>
<div class="grid-container">
	<!-- Header -->
	<%- include("./teacherHeader") %>
	<!-- End Header -->

	<!-- Sidebar -->
	<%- include("./teacherSidebar") %>
	<!-- End Sidebar -->
	<div class="main-container">
		<div class="row pe-5 align-items-center d-flex">
			<div class="col h1">Topics</div>
			<div class="col text-end">
				<button
					style="border-radius: 900px; height: min-content"
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#topicModal"
				>
					<i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;ADD
					TOPIC
				</button>
			</div>
		</div>
		<div class="row" >
			<div class="col-7" >
				<!-- subject and co div -->
				<div class="row mb-3">
					<div class="col-6">
						<select class="form-control" id="subject">
							<option selected value="0">Select Subject</option>
							<% subData.forEach(element=> { %>
							<option value="<%= element._id %>">
								<%= element.code %> : <%=element.name%>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="col-4">
						<select
							name="co"
							class="form-select"
							id="coSelect"
							disabled
						>
							<option selected>Select CO</option>
						</select>
					</div>
					<div class="col-2">
						<button
							class="btn btn-primary"
							style="border-radius: 100px"
							id="getTopicButton"
						>
							OK
						</button>
					</div>
				</div>

				<div class="mb-3" id="tableDiv" style="height: 420px; overflow-x:hidden">
					
				</div>
			</div>
			<div class="col-5" id="selectedTableDiv" style="height: 420px; overflow-y:scroll"></div>
		</div>
		<div class="text-end">
			<button class="btn btn-primary" id="nextButton" onclick="nextPage()">Next</button>
		</div>
	</div>
	<%- include('./addTopic')-%>
</div>
