<%- include('../partials/header') %> 

<link rel="stylesheet" href="/stylesheets/style_temp.css" />

<div class="grid-container">
	<!-- Header -->
    
	<%- include("./studentHeader") %>
	<!-- End Header -->

	<!-- Sidebar -->
	<%- include("./studentSidebar") %>
	<!-- End Sidebar -->

	<!-- Main -->
	<main class="main-container">
		<div class="main-title">
			<div class="h1 ps-5 pe-5 dboard">Dashboard</div>
		</div>
		<div class="box-container ps-5 pe-5">
			<div class="row margin">
        
				<div onclick="window.open('/student/upcomingQuiz','_self')" class="col-md-4 m-3  box dashboard-tile" style="width:30%;">
					<!-- <i class="fa-regular fa-building"></i> -->
					<div class="dashboard-tile-header h4">Upcoming Quiz</div>
					<p> 1</p>
						
				</div>
				
				<div onclick="window.open('/student/availableQuiz','_self')" class="col-md-4 m-3 box dashboard-tile"  style="width:30%;">
					<!-- <i class="fa-regular fa-building"></i> -->
					<div class="dashboard-tile-header h4">Available Quiz</div>
					<p>1</p>
				</div>
				
				<div onclick="window.open('/student/otherQuiz','_self')" class="col-md-4 m-3 box dashboard-tile"  style="width:30%;">
					<!-- <i class="fa-regular fa-building"></i> -->
					<div class="dashboard-tile-header h4">Other Quiz</div>
					<p>1</p>
				</div>
				<!-- 
				<div onclick="window.open('/student/history','_self')" class="col-md-3 m-1 box dashboard-tile">
					<i class="fa-regular fa-building"></i> 
					<div class="dashboard-tile-header h4">History</div>
					<p>1</p>
				</div> -->
			</div>

			
		</div>
	</main>
	<!-- End Main -->
</div>
<%- include('../partials/footer') -%>
<script>
	const allSideMenu = document.querySelectorAll(
		"#sidebar .side-menu.top li a"
	);

	allSideMenu.forEach((item) => {
		const li = item.parentElement;

		item.addEventListener("click", function () {
			allSideMenu.forEach((i) => {
				i.parentElement.classList.remove("active");
			});
			li.classList.add("active");
		});
	});
</script>

<script src="/scripts/studentSidebar.js"></script>
<%- include('../partials/sweetalert') %>
<%- include('../partials/footer2') -%>


